<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>{{label}}</h3>
    </div>
    <div class="modal-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dataset</h3>
        </div>
        <div class="panel-body">
          <div id="ngErrorContainer">
          </div>
          <form id="exportForm">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optDefault" value="tag:stardog:api:context:default" checked>
                Default graph
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optAll" value="tag:stardog:api:context:all">
                All graphs
              </label>
            </div>
            <div class="radio disabled">
              <label>
                <input type="radio" name="optionsRadios" id="optCustom" value="custom">
                Custom
              </label>
            </div>

            <!-- section to select new graphs -->
            <div id="customGraphs" class="form-group" style="display: none;">
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-10">
                  <select id="selectedGraph" name="graphSelect" style="width: 105%;">
                    <option value="tag:stardog:api:context:default">Default Graph</option>
                    {{#each namedGraphs}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-md-2">
                  <button id="btnAddNG" class="btn btn-success" style="width: 100%;">Add</button>
                </div>
              </div>

              <!-- added named graphs -->
              <div class="row">
                <div class="col-md-12">
                  <div id="addedGraphs" class="form-group">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Format</h3>
        </div>
        <div class="panel-body">
          <form id="exportForm">
            <div class="form-group">
              <select id="selectFormat" name="format" class="form-control">
                <option value="rdf/xml">RDF/XML</option>
                <option value="turtle">Turtle</option>
                <option value="trig">TriG</option>
                <option value="trix">TriX</option>
                <option value="nquads">NQuads</option>
                <option value="json-ld">JSON-LD</option>
              </select>
            </div>
          </form>

          <div id="formatErrorContainer">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="btnExport" class="btn btn-primary" aria-hidden="true">Export</button>
      <button id="btnClose" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
