<button type="button" class="close pull-right">&times;</button>
{{#if [@id]}}
<strong class="property_label" data-toggle="tooltip" data-placement="right" title="{{[@egadComment]}}">
  {{#if [@egadLabel]}}{{[@egadLabel]}}{{else}}{{#localname [@id]}}{{this}}{{/localname}}{{/if}}
</strong>
<div class="controls">
  <ul class="list-no-bullets obj-prop-container">
    {{#if [@value]}}
      {{#ieach [@value]}}
      <li>
        <div class="checkbox">
          <label>
            <input class="dataTypeIn" type="checkbox" {{#if [this]}}checked{{/if}}>
          </label>
        </div>
      </li>
      {{/ieach}}
    {{else}}
    <li>
      <div class="checkbox">
        <label>
          <input class="dataTypeIn" type="checkbox">
        </label>
      </div>
    </li>
    {{/if}}
  </ul>
</div>
{{/if}}
