{{#if [@id]}}
  <strong class="property_label" data-toggle="tooltip" data-placement="right" title="{{[@egadComment]}}">
  {{#if [@egadLabel]}}{{[@egadLabel]}}{{else}}{{#localname [@id]}}{{this}}{{/localname}}{{/if}}
  </strong>
  <div class="controls">
    {{#if [@value]}}
    {{#islongtext [@value] size=156}}
      <textarea disabled class="form-control" rows="4" style="width: 98%">{{[@value]}}</textarea>
    {{else}}
      <span class="wrapit">
        {{[@value]}}
        {{#if [@language]}}
            <span class="label label-default">{{[@language]}}</span>
        {{/if}}
      </span>
    {{/islongtext}}
    {{else}}
      <span class="label label-warning">Empty</span>
    {{/if}}
  </div>
{{/if}}
