<button type="button" class="close pull-right">&times;</button>
{{#if [@id]}}
<button class="btn btn-link addDataType"><i class="icon-plus"/></button>
<strong class="property_label" data-toggle="tooltip" data-placement="right" title="{{[@egadComment]}}">
  {{#if [@egadLabel]}}{{[@egadLabel]}}{{else}}{{#localname [@id]}}{{this}}{{/localname}}{{/if}}
</strong>
<div class="controls">
  <ul class="list-no-bullets obj-prop-container">
    {{#if [@value]}}
      {{#ieach [@value]}}
      <li>
        <div class="row">
          <div class="input-group" style="width: 95%;">
            <input type="text" class="form-control custom-control dataTypeIn propertyInput" value="{{[@value]}}">
            <span class="input-group-addon btn btn-danger removeDataType"><i class="icon-remove" /></span>
          </div>
        </div>
      </li>
      {{/ieach}}
    {{else}}
    <li>
      <div class="row">
        <div class="input-group" style="width: 95%;">
          <input type="text" class="form-control custom-control dataTypeIn propertyInput" value="">
          <span class="input-group-addon btn btn-danger removeDataType"><i class="icon-remove" /></span>
        </div>
      </div>
    </li>
    {{/if}}
  </ul>
</div>
{{/if}}
