{{ 
    function isAvailable(theData, thePropName) {
        return (theData[thePropName] !== undefined && theData[thePropName] !== null);
    }
}}

<td style="width:80%;">{{= it['database.name']}}</td>
{{ if (isAvailable(it, 'database.online')) { }}
{{? it['database.online']}}
<td style="width:20%; text-align: center;"><span class="label label-success">online</span></td>
{{??}}
<td style="width:20%; text-align: center;"><span class="label label-danger">offline</span></td>
{{?}}
{{ } else { }}
<td style="width:20%; text-align: center;"><span class="label label-warning" data-toggle="tooltip" title="Could not retrieve database metadata, you may not have permissions to the metadata resource over this database, please verify with your administrator.">unavailable</span></td>
{{ } }}